@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Open+Sans&display=swap');

:root {
    --blue: #2490ea;
    --white: #fff;
    --black: #000;
    --text-color: #566b78;
    --header-color: #333;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: var(--text-color);
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
strong {
    color: var(--header-color);
}

* {
    box-sizing: border-box;
}

a,
a:visited {
    background: linear-gradient(to bottom, var(--blue) 0%, var(--blue) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    transition: all 0.2s;
    color: var(--black);
    font-weight: bold;
    padding: 0 2px;
}

a:hover,
a:active,
a:focus {
    background-size: 4px 50px;
    color: var(--white);
}

img {
    max-width: 100%;
    display: block;
}
